*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(to left, #047652, #00325b);
    z-index: -1;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    min-height: 50px;
    color: white;
    align-items: center;
}

#logo{
    grid-column: 2/3;
    font-size: 24px;
}



section{
    display: flex;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.main-image-headers{
    height: 60%;
    width: 100%;
    position: relative;
}

.main-image-headers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    /*border-radius: 5%;*/
}

.headlines {
    top: 10%;
    left: 7%; /* this becomes problem when screen resizes*/
    position: absolute;
    color: white;
    z-index: 3;
}

.headline1{
    font-size: 50px;
    transform: translate(-20%,-70%);
}

.headline2{
    font-size: 25px;
    transform: translate(-20%,-70%);
}

.headline3{
    font-size: 25px;
    transform: translate(-20%,-70%);
}

.main-image-headers::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

.section-a {
    
    border-left: 10px;
    border-top: 10px;
}